label {
  font-size: 14px;
  color: #989DAD;
  margin-bottom: 20px !important;
}

.radio-inline input[type="radio"] {
  margin-left: -8px !important;
}

.radio-inline {
  padding-left: 0 !important;
}
