@import 'palette';
@import 'pages/main';
@import 'pages/game_list';

@import 'general';
@import 'typography';
@import 'components/footer';
@import 'components/navbar';

@import 'bootstrap_variables';
@import 'bootstrap/assets/stylesheets/bootstrap';



html {
  //height: 100%;
}

body {
  margin-top: 50px !important;
  margin-bottom: -50px;
  margin: 0;
  padding: 0;
  background: $white;
  font-family: $body-font;
  font-size: 16px;
  height: 100%;
}

body.unlock {
  background: $darkBg;
}

#app {

}
