.random-game-container {
  height: 180px;
  width: 100%;
}

.random-game-btn {
  width: 126px;
  height: 126px;
  background: none;
  padding: 0 !important;
  margin-top: 15px;

  img {
    width: 126px;
    height: 126px;
  }
}
