.squat-icon {
  width: 127px;
  height: 137px;
}

.image-container {
  margin: 100px 0 100px 0;
}

.filler {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: $darkBg;
}
