.charity-icon {
  margin-top: -10px;
  width: 40px;
  height: 40px;
}

.new-game-footer-text {
  font-size: 16px;
  color: #fff;
  padding: 20px 0 10px 0;
}

.new-game-footer {
  box-shadow: 0px 0px 10px #444 !important;

}
